* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(124, 124, 124);
  border-radius: 10px;
}

.header {
  display: flex;
  position: fixed;
  padding: 10px;
  top: 0;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(133, 133, 133, 0.178);
  background-color: rgba(255, 255, 255, 0.99);
  z-index: 1000;
}

.header i {
  font-size: 22px;
}

.header .left {
  flex: 1.7;
  padding: 5px;
}

.header .left .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  cursor: pointer;
  margin-left: 2px;
}

.header .left i:nth-child(1) {
  margin-right: 20px;
  cursor: pointer;
  color: rgb(77, 77, 77);
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
}

.header .left i:nth-child(1):hover {
  background-color: rgba(228, 228, 228, 0.473);
  transition: all 0.2s linear;
}

.header .left i:nth-child(2) {
  font-size: 28px;
  color: rgb(255, 0, 0);
}

.header .left i:nth-child(2) span {
  display: inline-block;
  font-size: 18px;
  color: black;
  transform: translateY(-4px);
  font-weight: 700;
  letter-spacing: -1px;
}

.header .middle {
  flex: 4;
  padding: 5px;
  position: relative;
  width: 100%;
  height: 42px;
  display: block;
}

.header .middle .search-box {
  display: flex;
  width: 90%;
  position: relative;
  height: 100%;
  background-color: rgb(182, 182, 182);
  align-items: center;
  justify-content: center;
}

.header .middle .search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 8px;
  font-size: 17px;
  outline: none;
  border: 1px solid rgba(156, 156, 156, 0.712);
}

.header .middle .search-box input:focus {
  border: 1px solid #2c83bd;
}

.header .middle .search-box .search-btn {
  position: absolute;
  padding: 0px 20px;
  height: 100%;
  right: 0;
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.527);
  border: 1px solid rgba(156, 156, 156, 0.712);
}

.header .middle .search-box .search-btn:hover {
  background-color: rgba(238, 238, 238, 0.897);
}

.header .middle .search-box .search-btn i {
  font-size: 17px;
  color: rgb(77, 77, 77);
}

.header .right {
  flex: 1.8;
  padding: 5px;
}

.header .right .user-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.header .right .user-icons i,
.header .right .user-icons img {
  margin: 0px 10px;
}

.header .right .user-icons i {
  font-size: 18px;
  color: rgb(77, 77, 77);
  cursor: pointer;
}

.right img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 69px;
  width: 240px;
  height: 90%;
  overflow-y: scroll;
}

.nav-bar ul {
  margin-bottom: 20px;
}

.nav-bar ul li {
  padding: 13px 25px;
  color: rgb(97, 97, 97);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.nav-bar ul li:hover {
  background-color: rgb(235, 235, 235);
  transition: all 0.2s linear;
}

.nav-bar ul li i {
  margin-right: 40px;
  font-size: 18px;
  width: 15px;
}

.nav-bar ul li:nth-child(1) i {
  color: red;
}

.nav-bar ul li:nth-child(1) {
  font-weight: bold;
  background-color: rgb(219, 219, 219);
}

.nav-bar ul .label {
  color: rgb(133, 133, 133);
  font-weight: bold;
}

.nav-bar ul li img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  align-self: center;
  margin-right: 30px;
}

hr {
  opacity: 0.3;
}

.nav-bar ul .links {
  padding: 15px 25px;
  color: rgb(97, 97, 97);
  font-size: 14px;
  position: relative;
  background-color: #fff;
}

.nav-bar ul .links a {
  margin: 7px;
  color: rgb(97, 97, 97);
  font-size: 13px;
}

.nav-bar ul .links span {
  display: block;
  font-size: 12px;
  margin-top: 20px;
}

.side-bar {
  display: flex;
  top: 69px;
  left: 0;
  position: fixed;
  height: 100%;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  background-color: #fff;
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.side-bar ul li {
  color: rgb(97, 97, 97);
  font-size: 14px;
  cursor: pointer;
  display: flex;
}

.side-bar ul li i {
  font-size: 19px;
  width: 100%;
  padding: 23px 20px;
}

.side-bar ul li:nth-child(1) i {
  color: red;
  background-color: rgb(219, 219, 219);
}

.side-bar ul li:hover {
  background-color: rgb(235, 235, 235);
}

.main-page {
  position: relative;
  display: flex;
  margin-top: 75px;
  flex-flow: column wrap;
  width: 100%;
  height: 1400px;
}

.main-page .nav-bar {
  flex: 2;
}

.main-page .videos {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex: 5;
  padding: 10px;
  margin-left: 240px;
}

.videos .card {
  position: relative;
  height: 300px;
  width: 252px;
  margin: 5px 10px;
  cursor: pointer;
}

.videos .card .icons {
  display: flex;
  position: absolute;
  flex-flow: column wrap;
  right: 5px;
  top: 2px;
}

.videos .card .icons i {
  padding: 5px;
  margin: 2px 0;
  font-size: 17px;
  color: white;
  background-color: rgba(0, 0, 0, 0.952);
  border-radius: 2px;
  visibility: hidden;
}

.videos .card:hover i {
  visibility: visible;
}

.videos .card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.videos .card figcaption {
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.videos .card figcaption .img {
  flex: 1;
  margin-top: 10px;
}

.videos .card figcaption .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.videos .card figcaption .caption {
  flex: 5;
  padding: 7px 12px;
}

.videos .card figcaption .caption a {
  color: black;
}

.videos .card figcaption span {
  font-size: 12px;
  color: #5f5f5f;
}

@media screen and (max-width: 820px) {
  .header .middle {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .side-bar {
    display: block;
  }

  .main-page .videos {
    margin-left: 60px;
  }
}

@media screen and (max-width: 820px) {
  .videos .card {
    width: 300px;
  }
}
